<div class="container" style="background-color:#080833;">
    <div style="text-align:center; color: white; margin-bottom: 80px;padding-top: 10px;">
      <h1>SELAMAT BERGABUNG DENGAN</h1>
    </div>
    <div style="text-align: center;">
      <img class="max-width" style="color:#000000;text-decoration:none;font-family:Helvetica, arial, sans-serif;font-size:16px;max-width:100% !important;width:30%;height:auto !important;"
        src="https://marketing-image-production.s3.amazonaws.com/uploads/94b6998958b3e373dddc3cce1f72a0501eb2db7d194582820019e460e61c1f603fad6431cf13e41b4dd68d011a55093636fb961fb33bd8e3ca62afcdffa25ccf.jpeg"
        alt="" border="0" text-align="right">
    </div>
    <div style="text-align: center; color: white;padding-top: 40px;">
      <h1>Hai Rimers,<h1>
    </div>
    <div style="text-align: center; color: white">
      <h1>${newUser.fullname}<h1>
    </div>
    <div style="text-align:center;color: white; letter-spacing: 1px; padding-top: 60px;padding-bottom: 80px;">
      <h4>Terima kasih telah memilih Rimember sebagai customer loyalty
        program.</h4>
      <h4>Kini kamu bisa
        menikmati diskon menarik dari merchant pilihan Rimember.</h4>
    </div>
    <div style="text-align: center;">
      <a style="background-color:#be2d93;border:1px solid #333333;border-color:#be2d93;border-radius:2px;border-width:1px;color:#ffffff;display:inline-block;font-family:helvetica,arial,sans-serif;font-size:16px;font-weight:normal;letter-spacing:1px;line-height:16px;padding:12px 18px 12px 18px;text-align:center;text-decoration:none"
        href="dev.rimember.id" target="_blank">COBA SEKARANG</a>
    </div>
    <div>
  
    </div>
  </div>